<!DOCTYPE html>
<html lang="en">
<head>


  <title>Chatbot</title>

  <style>
  df-messenger {
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #df9b56;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #479b3d;
  }

  body {
  background-image: url('https://economictimes.indiatimes.com/tech/ites/dxc-technology-to-acquire-luxoft-for-2-billion/photo/67426000.cms');
}
</style>

</head>
<body>

  <center><h1> DXC Remote Workers Bot </h1> </center>


  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger intent="WELCOME"  chat-title="Lee"
    agent-id="5d55ffb2-eef1-4ef1-9019-107e13097ebf"
    language-code="en"
  ></df-messenger>

<meta name="viewport" content="width-device-width, initial-scale=1">





  </body>
  </html>
