<!DOCTYPE html>
<html lang="en">
<head>


  <title>Chatbot</title>

  <style>
  df-messenger {
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #4da6ff;
   --df-messenger-chat-background-color: #ffffff;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #4da6ff;
   --df-messenger-user-message: #4da6ff;
   --df-messenger-input-box-color: #ffffff;
  }

</style>

</head>
<body>

  <center><h1>  </h1> </center>


  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger intent="WELCOME"  chat-title="Lee" chat-icon="https://i.ibb.co/Twx9Pwq/Lee-Icon.png"
    agent-id="5d55ffb2-eef1-4ef1-9019-107e13097ebf"
    language-code="en" expand=True
  ></df-messenger>

<meta name="viewport" content="width-device-width, initial-scale=1">





  </body>
  </html>
